.video-body{

    padding: 0px 350px 0px 50px;
    background-color: #ebebeb;

}

.video-body-1{
    background-color: white;
}

.video-body-1 h1{
    text-align: center;
    padding: 30px 0px;
    font-weight: 600;
    font-size: 45px;
  
}

.video{
    
    margin: 0px 16px 16px 16px;
    padding: 5px 5px;

}
.youtube-video{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.youtube-video iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;

}

hr{
    margin: 10px;
}

.video-intro{
    font-size: 25px;
    font-weight: 500;
    margin-top: 5px;
    padding: 0px 5px;
}


@media only screen and (max-width:800px){
    .video-body{
        padding: 0px 0px;
    }
    .video-intro{
        font-size: 18px;
        font-weight: 500;
    }
    .video-body-1 h1{
        text-align: center;
        padding: 15px 0px;
        padding-top: 18px;
        font-weight: 600;
        font-size: 45px;
      
    }
    .video{
    
        margin: 30px 10px 30px 10px;
        padding: 2px 2px;
    
    }

}